{% extends "base2.html" %}
{% load staticfiles %} 
{% block title %} Home {% endblock %}
{% block content %}
<div class="container">
<div style="text-align:center">
<h1>Today's Price of Vegetables and Fruits</h1>
<br>
	<table class="price_today" style="align:center" border=1>

		<tr>
			<th>S.N.</th>
			<th>Item</th>
			<th>Lowest Price</th>
			<th>Seller</th>
		</tr>
		{% for eachitems in items %}		
		<tr class="myrow">
			<td class="mycol">
				{{forloop.counter}}
			</td>
			<td class="mycol">
				<a href="/item/{{eachitems.item.id}}">{{eachitems.item.name}}</a>
			</td>
			<td class="mycol">
				{{eachitems.user_price}}
			</td>
			<td class="mycol">
				<a href="/seller/{{eachitems.seller.id}}">{{eachitems.seller.name}}</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
</div>
{% endblock %}