{% extends "base2.html" %}
{% load staticfiles %} 
{% block content %}
<div class="container">
<h1>Details for {{name}} </h1>
	<br>
	<div>
		Name: {{name}}<br>
		Category: {{category}}<br>
	</div>
	<br>
<table class="item_page" border=1>
		<tr>
			<th>S.N.</th>
			<th>Vendor</th>
			<th>Price</th>
			<th>Location</th>
		</tr>
		{% for each_price in items %}
		
		<tr class="myrow">
			<td class="mycol">
				{{forloop.counter}}
			</td>
			<td class="mycol">
				{{each_price.seller.name}}
			</td>
			<td class="mycol">
				{{each_price.user_price}}
			</td>
			<td class="mycol">
				{{each_price.seller.district.name}}
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}