{% extends "base2.html" %}
{% load staticfiles %} 
{% block title %} {{items.seller.name}}  {% endblock %}
{% block content %}
<div class="container">
<h1>Details for {{name}}</h1>
<br>
<div>
	Name:     {{name}}<br>
	Phone No: {{phone}}<br>
	Location: {{location}}<br>
</div>
<br>
<table class="seller_page" border=1>
		<tr>
			<th>S.N.</th>
			<th>Item</th>
			<th>Price</th>
		</tr>
		{% for eachitem in items %}
		
		<tr class="myrow">
			<td class="mycol">
				{{forloop.counter}}
			</td>
			<td class="mycol">
				{{eachitem.item.name}}
			</td>
			<td class="mycol">
				{{eachitem.user_price}}
			</td>			
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}